<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <title>Dashboard - Bichito de Luz</title>
  </head>
  <body>
    <header>
      <img src="/public/favicon.ico" alt="Logo">
      <h1>Bichito de luz</h1>      
      <h1>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h1>
      <h1>Dashboard</h1>
      <button id="btn-tema">Cambiar tema</button>
    </header>
    <nav>
      <button id="btn-agregar-producto">Agregar producto</button>
      <button id="btn-cerrar-sesion">Cerrar sesión</button>
    </nav>
    <main>
      <section id="section-productos">
        <% if (productos.length === 0) { %>
          <p>No hay productos en la base de datos.</p>
        <% } else { %>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Categoría</th>
                <th>Activo</th>
                <th colspan="3">Acciones</th>
              </tr>
            </thead>
            <tbody id="table-body">
              <% productos.forEach((producto) => { %>
                <tr>
                  <td class="id"><%= producto.id %></td>
                  <td><%= producto.nombre %></td>
                  <td><%= producto.precio %></td>
                  <td><img src="../uploads/<%= producto.imagen %>" alt="producto <%= producto.id %>" width="100"></td>
                  <td><%= producto.categoria %></td>
                  <td><%= producto.activo %></td>
                  <td><button class="modificar" id="btn-modificar-<%= producto.id %>">Modificar</button></td>
                  <% if (producto.activo) { %>
                    <td><button class="bajar" id="btn-bajar-<%= producto.id %>">Dar de baja</button></td>
                  <% } else { %>
                    <td><button class="bajar" id="btn-bajar-<%= producto.id %>">Dar de alta</button></td>
                  <% } %>
                  <td><button class="eliminar" id="btn-eliminar-<%= producto.id %>">Eliminar de la DB</button></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        <% } %>
      </section>
    </main>
    <script type="module" src="../public/js/dashboard.js"></script>
  </body>
</html>